@import "tailwindcss";
@import "./theme/theme.css";

html,
body {
  font-family: var(--font-sans);

  background-color: var(--theme-background);
  color: var(--theme-foreground);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
